body{
    font-family: arial, sans-serif;
    background-color: aqua;
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    color:blueviolet;
}

form{
    background-color: beige;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,2);

}
label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"], input[type="email"], textarea{
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 5px solid #css;
    border-radius: 30px;

}
input[type="submit"]{
    background-color: rgb(68, 47, 255);
    color: aquamarine;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: red;
}